<!DOCTYPE html>
<html lang="en">
<head><meta charset="utf-8"></head>
<body> 
<div style="width:100%;margin-bottom: 20px;margin-top: 20px;" >
	<div style="width:100%;float: left;font-size: 14px;" > 
		<img src="<?php echo site_url().'/assets/Uploads/Logo/'.$content['logo']?>" width ="100"> <br>
		<?php echo $content['address']; ?> <br/>
		 <b>Tel:</b>  <?php echo $content['phone']; ?> (Head Office)<br/> 
		 <b>Email:</b> <?php echo $content['email']; ?> <br/>
		 <b>Web:</b> <?php echo $content['website']; ?>  <br/><br/>
		 
		<b><?php echo $content['waste_licence']; ?></b><br>
		<b><?php echo $content['reference'];?></b><br>
		
		<b>Conveyance Note</b><br>
		
		<b>Conveyance Ticket No:</b><br>
		<b>Conveyance Note</b><br>
		<b>Conveyance Note</b><br>
		<b>Conveyance Note</b><br>
		<b>Conveyance Note</b><br>
		<b>Conveyance Note</b><br>
		<b>Conveyance Note</b><br>
		<b>Conveyance Note</b><br>
		<b>Conveyance Note</b><br>
		<b>Conveyance Note</b><br>
		<b>Conveyance Note</b><br>
		 
	</div> 
	 
</div>  
  
</body>
</html> 